<footer id="footer4" class="page-section pt-95 pb-50 footer2-black">
          <div class="container">
            <!-- SUB FOOTER -->
            <div class="footer2-copy-cont clearfix">
              <!-- Social Links
              <div class="footer2-soc-a right">
                <a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.behance.net/abcgomel" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                <a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
            </div> -->

              <!-- Copyright -->
              <div class="left">
                <a class="footer2-copy" href="http://www.nittanydatalabs.org" target="_blank">© 2017 Nittany Data Labs</a>
              </div>

            </div>

          </div>
        </footer>
