<div id="about" class="page-section pt-160-b-120-cont" ng-controller="NavCtrl">
    <div class="container">
        <div class="row">
            <!-- TEXT -->
            <div class="col-md-5 pb-40">
                <div class="font-white font-32 font-poppins mb-0">
                    <p>Opportunities are endless for those who can master the art and science of data.<p>
                </div>
            </div>

            <!-- FEATURES -->
            <div class="col-md-offset-1 col-md-6">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pb-10">
                        <div class="fes5-box wow fadeIn" >
                            <p>If you are asking yourself, “How can I solve problems using data?” you have come to the right place. We at Nittany Data Labs teach a variety of skill sets to our members depending on their interests and what would be most valuable to them. We work to nurture an interest in data science as well as an understanding.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-6 pb-10">
                        <div class="fes5-box wow fadeIn" data-wow-delay="400ms">
                            <p>We feel it is most effective to do this by having both lessons and real world projects that make students use the skills they have learned as well as their natural intuition to solve problems in the real world.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
#about {
    background-color: #333;
    color: white !important;
}
</style>
