<div id="blog-link" class="page-section pt-150-b-110-cont">
          <div class="container">

            <div class="mb-50">
              <h2 class="section-title2 font-raleway pr-0">Our Blog<a href="blog-right-sidebar.html" class="section-more right">View All</a>
              </h2>
            </div>

            <div class="row">

              <!-- Post Item 1 -->
              <div class="col-sm-6 col-md-4 col-lg-4 wow fadeIn pb-70" style="visibility: visible; animation-name: fadeIn;">

                <div class="post-prev-img">
                  <a href="blog-single-sidebar-right.html"><img src="images/blog/blog-sect3-post-anim.gif" alt="img"></a>
                </div>

                <div class="post-prev-title">
                  <h3 class="font-raleway"><a href="blog-single-sidebar-right.html">User Experience</a></h3>
                </div>

                <div class="post-prev-info">
                  Jule 21, 2016<span class="slash-divider">/</span><a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">Michael Doe</a>
                </div>

                <div>
                  Maecenas volutpat, diam enim sagittis uam, id porta ulamis. Sed id dolor consectetur fermentum nibh volutpat, umasnu purus...
                </div>

              </div>

              <!-- Post Item 2 -->
              <div class="col-sm-6 col-md-4 col-lg-4 wow fadeIn pb-70" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">

                <div class="post-prev-img">
                  <a href="blog-single-sidebar-right.html"><img src="images/blog/blog-sect1-post-1.jpg" alt="img"></a>
                </div>

                <div class="post-prev-title">
                  <h3 class="font-raleway"><a href="blog-single-sidebar-right.html">New Trends In Web Design</a></h3>
                </div>

                <div class="post-prev-info">
                  Jule 20, 2016<span class="slash-divider">/</span><a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">Michael Doe</a>
                </div>

                <div>
                  Recusandae, nostrum, diam enim sagittis uam, id porta ulamis. Sed id dolor consectetur fermentum nibh laudantium magnam...
                </div>

              </div>

              <!-- Post Item 3 -->
              <div class="col-sm-6 col-md-4 col-lg-4 wow fadeIn pb-70" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">

                <div class="post-prev-img">
                  <a href="blog-single-sidebar-right.html"><img src="images/blog/blog-sect1-post-2.jpg" alt="img"></a>
                </div>

                <div class="post-prev-title">
                  <h3 class="font-raleway"><a href="blog-single-sidebar-right.html">The Sound Of Life</a></h3>
                </div>

                <div class="post-prev-info">
                  Jule 16, 2016<span class="slash-divider">/</span><a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel">Michael Doe</a>
                </div>

                <div>
                  Cumque culpa provident, diam enim sagittis uam, id porta ulamis. Sed id dolor consectetur fermentum nibh commodi assumenda...
                </div>

              </div>

            </div>

          </div>
        </div>
