<div class="page-section">
	<div class="container-fluid">
		<div data-equal=".equal-height" class="row row-sm-fix">
			<div class="col-md-6 fes12-img equal-height" style="height: 552px; background-image: url(&quot;images/fes12-1.jpg&quot;);">
            	<div class="fes2-main-text-cont text-white">
                	<div class="fes2-title-45 font-poppins text-white"><strong>Market Ratings</strong></div>
                  	<div class="fes2-text-cont">
						Sed ut perspiciatis unde omnis iste nat eror acus antium que. Asperiores, ea velit enim labore doloribus.
						Sed ut perspiciatis unde omnis iste nat eror acus antium que. Asperiores, ea velit enim labore doloribus.
						Sed ut perspiciatis unde omnis iste nat eror acus antium que. Asperiores, ea velit enim labore doloribus.
					</div>
                  	<div class="fes12-btn-cont mt-30">
                  		<a class="button medium white rounded thin btn-4 btn-4cc" href="#"><span class="button-text-anim">READ MORE</span><span aria-hidden="true" class="button-icon-anim arrow_right"></span></a>
                  	</div>
            	</div>
			</div>

			<div class="col-md-6 fes12-img equal-height" style="height: 552px; background-image: url(&quot;images/fes12-2.jpg&quot;);">
        		<div class="fes2-main-text-cont text-black">
                	<div class="fes2-title-45 font-poppins"><strong>Affect Analytics</strong></div>
				  	<div class="fes2-text-cont">
						Sed ut perspiciatis unde omnis iste nat eror acus antium que. Asperiores, ea velit enim labore doloribus.
						Sed ut perspiciatis unde omnis iste nat eror acus antium que. Asperiores, ea velit enim labore doloribus.
						Sed ut perspiciatis unde omnis iste nat eror acus antium que. Asperiores, ea velit enim labore doloribus.
				  	</div>
                  	<div class="fes12-btn-cont mt-30">
                  		<a class="button medium rounded thin gray btn-4 btn-4cc" href="#"><span class="button-text-anim">READ MORE</span><span aria-hidden="true" class="button-icon-anim arrow_right"></span></a>
                  	</div>
                </div>
			</div>
		</div>
	</div>
</div>
