<div class="page-section bg-gray-light">
    <div class="container">
        <div class="row">
        	<div class="col-md-6 text-center">
                <br /><br /><br /><br /><br /><br />
                <img class="mt-40" src="images/matrix.gif" alt="img">
            </div>

            <div class="col-md-6">
                <div class="fes2-main-text-cont">
                    <div class="fes2-title-35 font-poppins font-light"><h4><b>THE MATRIX</b></h4><b>M</b>achine Learning and <b>A</b>nalytics <b>Tr</b>aining & <b>I</b>nnovation <b>Ex</b>perience Program</div>
                    <div class="fes2-text-cont">Join the MATRIX, our comprehensive training program which covers everything from Python, Basic Data Manipulation, Machine Learning to Deep Learning and beyond. We ensure our members get all of the necessary skill sets they need in order to succeed in today's data driven world.</div>
                    <div class="fes12-btn-cont mt-30">
                        <!-- <a class="button medium thin rounded purple btn-4 btn-4cc" href="#"><span class="button-text-anim disabled">Read More</span><span aria-hidden="true" class="button-icon-anim arrow_right"></span></a> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
