<!-- FEATURES 13 OUR SERVICES -->
<div class="page-section pt-160-b-120-cont">
    <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="fes4-box wow fadeIn">
                              <h2 class="section-title2">Our Services</h2>
                            </div>
                        </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="fes4-box wow fadeIn" data-wow-delay="200ms">
                  <div class="fes13-title-cont" >
                    <div class="fes13-box-icon">
                        <div class="icon icon-basic-settings font-purple"></div>
                    </div>
                    <h3>Development</h3>
                  </div>
                  <div>
                    Maecenas luctus nisi in sem fermentum blat. In nec  elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                  </div>
                </div>
            </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="fes4-box wow fadeIn" data-wow-delay="400ms">
                  <div class="fes13-title-cont" >
                    <div class="fes13-box-icon">
                        <div class="icon icon-basic-share font-purple"></div>
                    </div>
                    <h3>Production</h3>
                  </div>
                  <div>
                    Seductio maesto nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                  </div>
                </div>
            </div>

        </div>
        <div class="row">

<div class="col-xs-12 col-sm-4 col-md-4">
<div class="fes4-box wow fadeIn" data-wow-delay="600ms">
                  <div class="fes13-title-cont" >
                    <div class="fes13-box-icon">
                        <div class="icon icon-basic-target font-purple"></div>
                    </div>
                    <h3 class="font-montserrat">Branding</h3>
                  </div>
                  <div>
                    Donec vel luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                  </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
<div class="fes4-box wow fadeIn" data-wow-delay="800ms" >
                  <div class="fes13-title-cont" >
                    <div class="fes13-box-icon">
                        <div class="icon icon-basic-globe font-purple"></div>
                    </div>
                    <h3>Web Design</h3>
                  </div>
                  <div>
                    Lorem luctus antena at nisi in sem blandit. In nec elit soltudin, elementum odio et, dictum quam a volutpat elementum.
                  </div>
                </div>
            </div>
<div class="col-xs-12 col-sm-4 col-md-4">
<div class="fes4-box wow fadeIn" data-wow-delay="1000ms">
                  <div class="fes13-title-cont" >
                    <div class="fes13-box-icon">
                        <div class="icon icon-basic-picture font-purple"></div>
                    </div>
                    <h3>Photography</h3>
                  </div>
                  <div>
                    Fermentum nisi in sem fertum blat. In elit soldin, elemtum, arenam pur quam volutpat suscipit dictum pur quam.
                  </div>
                </div>
            </div>

</div>
    </div>
</div>
