<div id="testimonials-link" class="page-section p-140-cont bg-gray">
        	<div class="container">
        		<div class="row">

        			<div class="col-md-12">
								<h2 class="section-title2 font-light mb-45 text-center p-0">About Us</h2>
							</div>

        		</div>
        		<div class="row">

        			<div class="col-sm-6">
                <div class="mb-30">
                  <div class="ts4-text-cont">
                    Maecenas at interdum odio. Curabitur consectetur interdum lectus, sit amet ultrices arcu maximus non. Quisque a mauris id nibh facilisis dictum. Duis lobortis lorem consectetur, lobortis.
                  </div>
                  <div class="ts4-author-cont clearfix">
                    <div class="ts4-author-img">
                      <img src="images/testimonials/ts-author3.jpg" class="img-circle" alt="img">
                    </div>
                    <div class="ts4-author-info">
                      <div class="ts-name">Emma Banks</div>
                      <div class="ts-type">Invision Inc</div>
                    </div>
                  </div>
                </div>
							</div>

        			<div class="col-sm-6">
                <div class="mb-30">
                  <div class="ts4-text-cont">
                    Etiam varius quis magna eu efficitur. Proin non ortor ante. Nullam vel orci dictum, bibendum nequena, ultrices metus. Praesent a mauris Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </div>
                  <div class="ts4-author-cont clearfix">
                    <div class="ts4-author-img">
                      <img src="images/testimonials/ts-author.jpg" class="img-circle" alt="img">
                    </div>
                    <div class="ts4-author-info">
                      <div class="ts-name">Amanda Pollock</div>
                      <div class="ts-type">Doogle Inc</div>
                    </div>
                  </div>
                </div>
							</div>

        		</div>

          </div>
        </div>
