<div id="testimonials-link" class="page-section p-140-cont bg-gray">
        	<div class="container">
        		<div class="row">

        			<div class="col-md-12">
								<h2 class="section-title2 font-light mb-45 text-center p-0"><b>#PoweredByData</b></h2>
                                <h4 class="text-center">Here's what some of our members achieved as a result of our program.</h4>
                                <br><br>
					</div>

        		</div>
        		<div class="row">

        			<div class="col-sm-6">
                <div class="mb-30">
                  <div class="ts4-text-cont">
                    Over this last summer I worked as a software engineering intern at IBM’s cyber security division. During my internship I gained an immense advantage over my fellow interns by already possessing a comfortability with working with large amounts of data. The cyber security industry currently has more data than it knows what to do with, so there is a huge demand for not only Data Scientist but also programmers that can work with ever-growing amount of data. This exact skill set as well helped me to secure a Project Lead role on a team of 8 interns to create a Data Visualization software to help not only clients but also threat analysts. My project is going to be fully funded next quarter and is estimated to decrease threat analysis time by 30 seconds per threat, estimating a cost savings of over $4 million per year.
                  </div>
                  <div class="ts4-author-cont clearfix">
                    <div class="ts4-author-img">
                      <img src="images/testimonials/ts-author3.jpg" class="img-circle" alt="img">
                    </div>
                    <div class="ts4-author-info">
                      <div class="ts-name">Daniel M.</div>
                      <div class="ts-type">Junior</div>
                    </div>
                  </div>
                </div>
							</div>

        			<div class="col-sm-6">
                <div class="mb-30">

                  <div class="ts4-text-cont">
                    Over this past year, I have been working under an associate dean here within the College of IST in using machine learning and deep learning to map out human trafficking networks within the state of Pennsylvania. We are federally grant funded and we work with both the PA State Police and the FBI. The goal is to leverage data and be able to flag online ads that are likely involved in human trafficking rings. Not only does this involve natural language processing, but also massive data collection and model comparison. Currently, we are working on getting our data labeled.<br>
                    This past summer, I worked at a Financial technology company which was acquired for 750 million dollars during my first week there. While I didn’t do much data science while I was there, I used a lot of the python I had learned by teaching myself machine learning concepts.

                  </div>
                  <div class="ts4-author-cont clearfix">
                    <div class="ts4-author-img">
                      <img src="images/testimonials/ts-author.jpg" class="img-circle" alt="img">
                    </div>
                    <div class="ts4-author-info">
                      <div class="ts-name">Sean P.</div>
                      <div class="ts-type">Sophomore</div>
                    </div>
                  </div>
                </div>
							</div>

        		</div>

          </div>
        </div>
